# Data Analysis and Preprocessing of Fraud data

In [10]:
# Importing necessary lebraries
import numpy as np
import pandas as pd
import os
import sys

In [11]:
sys.path.append(os.path.join(os.path.abspath('../..')))

In [12]:
# Import modules
from src import data_loading as dl
from src import data_summarry as ds
from src import formatting as fm
from src import univariate_analysis as uv

In [13]:
# Load the data set 
fraud_df = dl.load_data("Fraud_Data.csv") # Includes e-commerce transaction data aimed at identifying fraudulent activities.

In [5]:
# Data overview 
fraud_df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09,0
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08,0

In [6]:
# Data overview 
ip_address_df.head()

   lower_bound_ip_address  upper_bound_ip_address    country
0              16777216.0                16777471  Australia
1              16777472.0                16777727      China
2              16777728.0                16778239      China
3              16778240.0                16779263  Australia
4              16779264.0                16781311      China

In [7]:
# Data overview
credit_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [8]:
# Data Summary of Froudf df 
ds.data_summary(fraud_df)

Snapshot:

Rows                     151112
Columns                      11
Missing cells        0 (0.00 %)
Zeros           136961 (8.24 %)
Duplicate rows       0 (0.00 %)

In [9]:
# Country ip address overview 
ds.data_summary(ip_address_df)

Snapshot:

Rows                138846
Columns                  3
Missing cells   0 (0.00 %)
Zeros           0 (0.00 %)
Duplicate rows  0 (0.00 %)

In [10]:
# Credit risk overview 
ds.data_summary(credit_df)

Snapshot:

Rows                     284807
Columns                      31
Missing cells        0 (0.00 %)
Zeros           286142 (3.24 %)
Duplicate rows    1081 (0.38 %)

In [11]:
ds.data_types(fraud_df)

##### Correct Data Type

In [12]:
# Converting date column to datetime format 
fraud_df['signup_time'] = pd.to_datetime(fraud_df['signup_time'])
fraud_df['purchase_time'] = pd.to_datetime(fraud_df['purchase_time'])

In [13]:
# Country ip adress data types 
ds.data_types(ip_address_df)

In [14]:
# Credit 
ds.data_types(credit_df)

In [15]:
ds.missing_values(fraud_df)

There are no missing values

In [16]:
ds.missing_values(ip_address_df)

There are no missing values

In [17]:
ds.missing_values(credit_df)

There are no missing values

In [18]:
ds.constant_occurrence(fraud_df)

In [30]:
# The class are highyl skewed, let's check in detail
print(f"No Frouds: {round(fraud_df['class'].value_counts(normalize=True)[0] * 100, 2)}% of dataset")
print(f"Frouds: {round(fraud_df['class'].value_counts(normalize=True)[1] * 100, 2)}% of dataset")

No Frouds: 90.64% of dataset
Frouds: 9.36% of dataset

In [19]:
ds.constant_occurrence(ip_address_df)

In [20]:
ds.constant_occurrence(credit_df)

In [32]:
# The class are highyl skewed, let's check in detail
print(f"No Frouds: {round(credit_df['Class'].value_counts(normalize=True)[0] * 100, 2)}% of dataset")
print(f"Frouds: {round(credit_df['Class'].value_counts(normalize=True)[1] * 100, 2)}% of dataset")

No Frouds: 99.83% of dataset
Frouds: 0.17% of dataset

 - Take a closer look at our original dataset - it's heavily skewed towards non-fraudulent transactions! This poses a significant challenge for our predictive models and analysis. If we use this dataset as is, our algorithms may become overly optimistic, assuming that most transactions are legitimate. However, this is not what we want. We need our model to be vigilant and identify subtle patterns that indicate potential fraud. To achieve this, we must address the class imbalance issue head-on. By doing so, we'll ensure our model is robust and effective in detecting fraudulent activity, rather than being misled by the overwhelming majority of non-fraudulent transactions.

In [21]:
ds.duplicate_row_count(fraud_df)

There are no duplicated rows

In [22]:
ds.duplicate_row_count(ip_address_df)

There are no duplicated rows

In [23]:
ds.duplicate_row_count(credit_df)

Duplicate Row

Duplicate rows column subset  all columns
Duplicate row count                  1081
Duplicate row percentage           0.38 %

In [24]:
# Identify duplicated row and drop it
duplicates = credit_df.duplicated()
credit_df = credit_df[~duplicates]

In [25]:
# Confirm the duplicated rows are removed
credit_df.duplicated().sum()

np.int64(0)

## Exploratory Data Analysis (EDA)
* Univariate analysis
* Bivariate analysis

#### Univariate Analysis for Fraud_Data.csv

In [35]:
# Distribution of target variable (class)
print(fraud_df['class'].value_counts())
print(fraud_df['class'].value_counts(normalize=True))

class
0    136961
1     14151
Name: count, dtype: int64
class
0    0.906354
1    0.093646
Name: proportion, dtype: float64

In [36]:
# Summary statistics for purchase_value
print(fraud_df['purchase_value'].describe())

count    151112.000000
mean         36.935372
std          18.322762
min           9.000000
25%          22.000000
50%          35.000000
75%          49.000000
max         154.000000
Name: purchase_value, dtype: float64

In [37]:
# Distribution of age
print(fraud_df['age'].describe())

count    151112.000000
mean         33.140704
std           8.617733
min          18.000000
25%          27.000000
50%          33.000000
75%          39.000000
max          76.000000
Name: age, dtype: float64